ADMIN_EMAIL=
ADMIN_PASSWORD=
DEBATEHUB_INTERNAL_URL=
DEBATEHUB_NEON_DATABASE_URL=
GEMINI_API_KEY=
GEMINI_API_KEY_1=
GEMINI_API_KEY_2=
INTERNAL_API_KEY=
JWT_SECRET_KEY=
ORBIT_DATABASE_URL=
TRACE_DATABASE_URL=